body {
  display: block;
  margin: 0 auto;
  font-family: "Secular One", sans-serif;
  max-width: 600px;
  background-color: #f9f7fe;
}
h1 {
  color: rgb(39, 33, 66);
}

img {
  position: relative;
  left: -20px;
}

.body-wrapper {
  display: block;

  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  margin: 20px auto;
  margin-bottom: 0;
  border: 1px solid #e7eaf6;
  border-radius: 5px;
}

.app {
  padding-top: 20px;
}
.today-parameters {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.form {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid, black;
}

.search-button:hover {
  cursor: pointer;
  transition: all 150ms ease-in-out;
  background-color: #574866;
  border-color: #77628c;
}

.button {
  border-color: #77628c;
  color: #77628c;
}
.button:hover {
  cursor: pointer;
  transition: all 150ms ease-in-out;
  background-color: #77628c;
  border-color: #77628c;
}

.search-button {
  background-color: #77628c;
  max-width: 100px;
  border-color: #77628c;
}

.temperature {
  font-family: "Radio Canada", sans-serif;
  font-size: 80px;
  font-weight: 500;
}

.temperature-number {
  text-align: left;
}

ul {
  list-style: none;
  padding-left: 0;
}

li::first-letter {
  text-transform: capitalize;
}

.forecast {
  text-align: center;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.weekday-temp {
  font-size: 12px;
}
