body {
  display: block;
  margin: 0 auto;
  font-family: "Secular One", sans-serif;
  max-width: 600px;
}
h1 {
  color: rgb(39, 33, 66);
}

.body-wrapper {
  display: block;

  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  margin: 20px auto;
  margin-bottom: 0;
  border: 1px solid #e7eaf6;
  border-radius: 5px;
}

.app {
  padding-top: 20px;
}
.today-parameters {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.form {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid, black;
}

.search-button:hover {
  cursor: pointer;
  transition: all 150ms ease-in-out;
  background-color: rgb(108, 74, 196);
}

.search-button {
  background-color: rgb(136, 93, 241);
  max-width: 100px;
}

.temperature {
  font-family: "Radio Canada", sans-serif;
  font-size: 80px;
  font-weight: 500;
}

.temperature-number {
  padding-left: 10px;
}

ul {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}
